img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.mycontainer {
    text-align: center;
    


}

.heading {
    color: rgb(71, 69, 69);


}

.para {
    color: rgb(2, 39, 60);
} 
