.box {
    border-color: red;
    border: width 8px;
    border-style: solid;
    text-align: center;
    padding: 200px;
    height: 70vh;
    width: 60vw;
    margin: auto;


}

.heading {
    display: block;
    border-color: red;
    border: width 8px;
    border-style: solid;
    padding-top: 10px;
}